# Dependências pesadas (a Vercel instala automaticamente)
node_modules/

# Cache local da Vercel
.vercel/

# Logs e arquivos de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variáveis locais privadas
.env*.local

# Arquivos temporários de sistema
.DS_Store
Thumbs.db
